
<div class="experiences">
    <h2>Experiences</h2><br>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
    
      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <!-- if you want a box to contain the img -->
          <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <img style="vertical-align:middle;" src="assets/img/huawei.jpg" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        </td>

        <td width="60%" valign="top">
          <p><a id="arc">
          <papertitle><b>Research Intern</b></papertitle></a> at <a>Zurich Research Center (ZRC)</a>, <a href="https://www.huawei.com/ch-en/">Huawei Technologies Switzerland AG</a><br>
          Advisor: <a href="https://www.linkedin.com/in/mario-millhaeusler/?originalSubdomain=ch">Mario Millhaeusler</a>, <a href="https://www.linkedin.com/in/julius-erbach-43562110b/?originalSubdomain=ch">Julius Erbach</a><br>
            
          Project: Image Quality Enhancement<br>
            
          Project Supervision: <a href="https://www.linkedin.com/in/dengxin-dai-2412725a/?originalSubdomain=ch">Dr. Dengxin Dai</a>
            
          </p>

          <!-- <p>              
          <div class="project" id="3dv">
            
            <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
            <a href="assets/pdf/3dv_report.pdf">Report</a> 
          </div>
          </p> -->

          <p style="text-align:justify;">
            
            Main tasks: development of deep learning-based computer vision algorithms to enhance the quality of images captured by mobile phone cameras
          </p>
                    
      </td>
      </tr>


      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <!-- if you want a box to contain the img -->
          <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <img style="vertical-align:middle;" src="assets/img/arc2.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        </td>

        <td width="60%" valign="top">
          <p><a id="arc">
          <papertitle><b>Research Assistant</b></papertitle></a> at <a href="https://rsl.ethz.ch/">Robotic Systems Lab (RSL)</a>, <a href="https://ethz.ch/en.html">ETH Zurich</a><br>
          Advisor: <a href="https://ch.linkedin.com/in/fidel-esquivel/">Fidel Esquivel Estay</a><br>
            
          Project: <a href="https://riverclean.ethz.ch/">Autonomous River Cleanup (ARC)</a><br>
            
          Project Supervision: <a href="https://www.linkedin.com/in/marco-hutter-bb607713/">Prof. Marco Hutter</a>, <a href="https://ch.linkedin.com/in/hendrik-kolvenbach">Dr. Hendrik Kolvenbach</a>
            
          </p>

          <!-- <p>              
          <div class="project" id="3dv">
            
            <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
            <a href="assets/pdf/3dv_report.pdf">Report</a> 
          </div>
          </p> -->

          <p style="text-align:justify;">
            
            Main tasks: data processing, front-end and back-end real-time communication, real machine testing and deployment.
          </p>
                    
      </td>
      </tr>

      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <!-- if you want a box to contain the img -->
          <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <img style="vertical-align:middle;" src="assets/img/bosch.jpg" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        </td>

        <td width="60%" valign="top">
          <p><a id="arc">
          <papertitle><b>Research Intern</b></papertitle></a> at Corporate Research - Asia Pacific, <a href="https://www.bosch.com.cn/">Bosch (China) Investment Ltd.</a><br>
          Advisor: <a href="https://cn.linkedin.com/in/wan-ding-564075128">Dr. Wan Ding</a><br>
            
          Project: Robotic Grasp Planning<br>
            
          Project Supervision: <a href="https://cn.linkedin.com/in/wan-ding-564075128">Dr. Wan Ding</a>
            
          </p>

          <!-- <p>              
          <div class="project" id="3dv">
            
            <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
            <a href="assets/pdf/3dv_report.pdf">Report</a> 
          </div>
          </p> -->

          <p style="text-align:justify;">
            
            Main tasks: improvement of robotic arm grasping planning algorithm, construction of robot grasping experimental platform, and grasping stability test on the real machine.
          
          </p>
                    
      </td>
      </tr>
      
      <!-- <br> -->

      

      <!-- <br> -->

     
      
    </tbody></table>

  </div>