
<div class="publications">
    <h2>Publications</h2>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  
      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
        <img style="vertical-align:middle;" src="assets/img/seeing_behind.gif" alt="sym" width="100%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        <!-- <video autoplay loop muted playsinline controls src="assets/img/seeing_behind.mp4" alt="sym" width="90%" style="border: 1px solid #bbb; border-radius: 10px; width: 50%;"></video> -->
      </td>

        <td width="60%" valign="top">
          <p><a href="Seeing_behind_project_page/index.html" id="seeing_behind">
          <!-- <p><a id="seeing_behind"></a> -->
          <papertitle><b>Seeing Behind Dynamic Occlusions with Event Cameras</b></papertitle></a><br>

            <b>Rong Zou</b>, 
            <a>Manasi Muglikar</a>, 
            <a>Deepak Pathak</a>,
            <a>Davide Scaramuzza</a>
          
          </p>

          <p>
          <div>
            arXiv
          </div>
      
          <div class="paper" id="seeing_behind">
            <!-- <a href="agileflight.html">Webpage</a> | -->
            <!-- <a href="javascript:toggleblock('udc_abs')">abstract</a> | -->
            <!-- <a shape="rect" href="javascript:togglebib('arma')" class="togglebib">bibtex</a> | -->
            <!-- <a href="assets/pdf/agileflight_poster.pdf">Poster</a> | -->
            <a href="https://arxiv.org/abs/2307.15829">Paper</a> 
            <!-- <a href="https://www.youtube.com/...">Video</a> | -->
            <!-- <a href="https://github.com/...">Code</a>  -->
          </div>
          </p>

          <p>
            <div>
                A data-driven approach to reconstruct the background from a single viewpoint in the presence of dynamic occlusions.
            </div>
          </p>
      
      
      </td>
      </tr>

      
    </tbody></table>

  </div>

  <br>