
<div class="publications">
    <h2>Publications</h2>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
      
      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <img style="vertical-align:middle;" src="assets/img/blur_retrieval1.gif" alt="sym" width="100%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
          <!-- <img style="vertical-align:middle;" src="assets/img/blur_retrieval2.gif" alt="sym" width="100%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <!-- <video autoplay loop muted playsinline controls src="assets/img/seeing_behind.mp4" alt="sym" width="90%" style="border: 1px solid #bbb; border-radius: 10px; width: 50%;"></video> -->
      </td>

        <td width="60%" valign="top">
          <p>
            <a id="retrieval" style="color:#1794e7;" href="https://arxiv.org/abs/2404.18025"> 
            <papertitle><b>Retrieval Robust to Object Motion Blur</b></papertitle></a><br>

            <b>Rong Zou</b>, 
            <a href="https://cvg.ethz.ch/team/Prof-Dr-Marc-Pollefeys">Marc Pollefeys</a>, 
            <a href="https://rozumden.github.io/">Denys Rozumnyi</a>

          </p>

          <p>
          <b>
            European Conference on Computer Vision (ECCV), 2024
          </b>
      
          <div class="paper" id="retrieval">
            <!-- <a href="agileflight.html">Webpage</a> | -->
            <!-- <a href="javascript:toggleblock('udc_abs')">abstract</a> | -->
            <!-- <a shape="rect" href="javascript:togglebib('arma')" class="togglebib">bibtex</a> | -->
            <!-- <a href="assets/pdf/agileflight_poster.pdf">Poster</a> | -->

            <a href="https://arxiv.org/abs/2404.18025" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">PAPER</a> 
            <a href="https://github.com/Rong-Zou/Retrieval-Robust-to-Object-Motion-Blur" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">CODE</a> 
            <a href="https://cvg-data.inf.ethz.ch/romb/" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">DATA</a> 
            <a href="assets/pdf/poster_ECCV2024.pdf" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">POSTER</a> 


            <!-- <button onclick="window.location.href='https://w3docs.com';" background-color="transparent">
              Click Here
            </button> -->
            <!-- <a href="https://www.youtube.com/...">Video</a> | -->
            <!-- <a href="https://github.com/...">Code</a>  -->
          </div>
          </p>

          <p>
            <div>
                <!-- A data-driven approach to reconstruct the background from a single viewpoint in the presence of dynamic occlusions. -->
                A method and dataset for learning robust representations capable of bidirectional matching between motion-blurred objects and their deblurred counterparts.
                <!-- Method and datasets for object retrieval in images that are affected by motion blur. -->
            </div>
          </p>
      
      
      </td>
      </tr>

      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
        <img style="vertical-align:middle;" src="assets/img/seeing_behind2.gif" alt="sym" width="40%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        <img style="vertical-align:middle;" src="assets/img/seeing_behind_gt1.jpg" alt="sym" width="100%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">

        <!-- <video autoplay loop muted playsinline controls src="assets/img/seeing_behind.mp4" alt="sym" width="90%" style="border: 1px solid #bbb; border-radius: 10px; width: 50%;"></video> -->
      </td>

        <td width="60%" valign="top">
          <p>
            <!-- <a href="Seeing_behind_project_page/index.html" id="seeing_behind"> -->
            <a id="seeing_behind" style="color:#1794e7;" href="https://arxiv.org/abs/2307.15829"> 
            <papertitle><b>Seeing Behind Dynamic Occlusions with Event Cameras</b></papertitle></a><br>

            <b>Rong Zou</b>, 
            <a href="https://manasi94.github.io/">Manasi Muglikar</a>, 
            <a href="https://messikommernico.github.io/">Nico Messikommer</a>,
            <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>

          </p>

          <p>
          <b>
            arXiv, 2023
          </b>
      
          <div class="paper" id="seeing_behind">
            <!-- <a href="agileflight.html">Webpage</a> | -->
            <!-- <a href="javascript:toggleblock('udc_abs')">abstract</a> | -->
            <!-- <a shape="rect" href="javascript:togglebib('arma')" class="togglebib">bibtex</a> | -->
            <!-- <a href="assets/pdf/agileflight_poster.pdf">Poster</a> | -->

            <a href="https://arxiv.org/abs/2307.15829" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">PAPER</a> 
            <!-- <button onclick="window.location.href='https://w3docs.com';" background-color="transparent">
              Click Here
            </button> -->
            <!-- <a href="https://www.youtube.com/...">Video</a> | -->
            <!-- <a href="https://github.com/...">Code</a>  -->
          </div>
          </p>

          <p>
            <div>
                A data-driven approach to reconstruct the background from a single viewpoint in the presence of dynamic occlusions.
            </div>
          </p>
      
      
      </td>
      </tr>

      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
        <img style="vertical-align:middle;" src="assets/img/skid_steer.jpg" alt="sym" width="100%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        <!-- <video autoplay loop muted playsinline controls src="assets/img/skid_steer.mp4" alt="sym" width="90%" style="border: 1px solid #bbb; border-radius: 10px; width: 50%;"></video> -->
      </td>

        <td width="60%" valign="top">
          <p>
            <!-- <a href="skid_steer/index.html" id="skid_steer"> -->
            <a id="skid_steer" style="color:#1794e7;" href="https://link.springer.com/article/10.1007/s12555-021-0203-0"> 
            <papertitle><b>Path Tracking Control of Skid-steered Mobile Robot on Slope Based on Fuzzy System and Model Predictive Control</b></papertitle></a><br>
            Xiao Yue, 
            Jiankui Chen, 
            Yiqun Li, 
            <b>Rong Zou</b>, 
            Zhihao Sun,
            Xiaochuan Cao,
            Song Zhang
          
          </p>

          <p>
          <b>
            International Journal of Control, Automation and Systems, 2022
          </b>
      
          <div class="paper" id="skid_steer">
            <!-- <a href="agileflight.html">Webpage</a> | -->
            <!-- <a href="javascript:toggleblock('udc_abs')">abstract</a> | -->
            <!-- <a shape="rect" href="javascript:togglebib('arma')" class="togglebib">bibtex</a> | -->
            <!-- <a href="assets/pdf/agileflight_poster.pdf">Poster</a> | -->
            <a href="https://link.springer.com/article/10.1007/s12555-021-0203-0" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">PAPER</a> 

            <!-- <a href="https://www.youtube.com/...">Video</a> | -->
            <!-- <a href="https://github.com/...">Code</a>  -->
          </div>
          </p>

          <p>
            <div>
              An MPC strategy combined with a fuzzy system to enable a robot to track paths more accurately on slopes.
            </div>
          </p>
      
      
      </td>
      </tr>
    </tbody></table>

  </div>

  <br>
  <br>