
<div class="projects">
    <h2>Projects</h2>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
    
      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <!-- if you want a box to contain the img -->
          <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <img style="vertical-align:middle;" src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        </td>

        <td width="60%" valign="top">
          <p><a href="3dv.html" id="3dv">
          <papertitle><b>Monocular Depth Estimation with Virtual View Supervision</b></papertitle></a><br>
            <!-- Team members:
            <b>Rong Zou</b>,
            <a>...</a>,  
            <a href="...">...</a>, 
            <br> -->
            Supervised by <a href="https://zuriabauer.com/">Zuria Bauer</a> and <a href="https://people.inf.ethz.ch/moswald/">Martin R. Oswald</a>
          </p>

          <p>              
          <div class="project" id="3dv">
            <!-- <a href="3dv.html">Webpage</a> | -->
            <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
            <a href="assets/pdf/3dv_report.pdf">Report</a> 
            <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
          </div>
          </p>

          <p style="text-align:justify;">
            
            An approach to enhance the performance of existing supervised MDE methods by generating a substantial number of virtual views as additional supervision signals, circumventing the laborious and time-consuming process of collecting extra data.
          </p>
                    
      </td>
      </tr>

      <!-- <br> -->
      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <!-- if you want a box to contain the img -->
          <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <img style="vertical-align:middle;" src="assets/img/vslam2.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        </td>

        <td width="60%" valign="top">
          <p><a href="vslam.html" id="vslam">
          <papertitle><b>A Visual Odometry Pipeline</b></papertitle></a><br>
            <!-- Team members:
            <b>Rong Zou</b>,
            <a>...</a>,  
            <a href="...">...</a>, 
            <br> -->
            <!-- Supervised by <a href="https://zuriabauer.com/">Zuria Bauer</a> and <a href="https://people.inf.ethz.ch/moswald/">Martin R. Oswald</a> -->
          </p>

          <p>              
          <div class="project" id="vslam">
            <!-- <a href="3dv.html">Webpage</a> | -->
            <a href="https://youtube.com/playlist?list=PL0_u6UI2Giaq8gtEdg6E5ObpMR-UAU-H5">Demos</a> |
            <a href="assets/pdf/vslam.pdf">Report</a> 
            <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
          </div>
          </p>

          <p style="text-align:justify;">
            
            A complete visual odometry (VO) pipeline. Local (sliding-window bundle adjustment) and global (loop detection & correction) optimization were also implemented, which alleviates the scale drift and transforms the pipeline into a VSLAM framework.
          </p>
                    
      </td>
      </tr>
      
      <!-- <br> -->

      <tr>
        <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
          <!-- if you want a box to contain the img -->
          <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

        <img style="vertical-align:middle;" src="assets/img/dlad_box_refine.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
        </td>

        <td width="60%" valign="top">
          <p><a href="dlad.html" id="dlad">
          <papertitle><b>Canonical Transformation and Data Augmentation for Enhanced Box Refinement in a Two-Stage 3D Object Detection Pipeline</b></papertitle></a><br>
            <!-- Team members:
            <b>Rong Zou</b>,
            <a>...</a>,  
            <a href="...">...</a>, 
            <br> -->
            <!-- Supervised by <a href="https://zuriabauer.com/">Zuria Bauer</a> and <a href="https://people.inf.ethz.ch/moswald/">Martin R. Oswald</a> -->
          </p>

          <p>              
          <div class="project" id="dlad">
            <!-- <a href="3dv.html">Webpage</a> | -->
            <!-- <a href="https://youtube.com/playlist?list=PL0_u6UI2Giaq8gtEdg6E5ObpMR-UAU-H5">Demos</a> | -->
            <a href="assets/pdf/dlad.pdf">Report</a> 
            <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
          </div>
          </p>

          <p style="text-align:justify;">
            
            A comprehensive study of the impact of canonical transformations and training data augmentation via geometric transformations on an existing two-stage 3D object detection method for detecting cars in LiDAR data.
          </p>
                    
      </td>
      </tr>

      <!-- <br> -->

     
      
    </tbody></table>

  </div>