
<div class="projects">
  <h2>Projects</h2>

  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

    <!-- <br> -->
    <tr>
      <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
        <!-- if you want a box to contain the img -->
        <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

      <img style="vertical-align:middle;" src="assets/img/vslam-loop.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
      </td>

      <td width="60%" valign="top">
        <p>
          <!-- <a href="vslam.html" id="vslam"> -->
          <a href="projects/vo/" id="vslam" style="color:#1794e7;"> 
          <papertitle><b>A Visual Odometry Pipeline</b></papertitle></a><br>
          <b>Rong Zou</b>,
          Lei Li,  
          Yang Miao,  
          Zhizheng Liu
          <!-- Supervised by <a href="https://zuriabauer.com/">Zuria Bauer</a> and <a href="https://people.inf.ethz.ch/moswald/">Martin R. Oswald</a> -->
        </p>

        <p>              
        <div class="project" id="vslam">
          <!-- <a href="3dv.html">Webpage</a> | -->
          <a href="https://youtube.com/playlist?list=PL0_u6UI2Giaq8gtEdg6E5ObpMR-UAU-H5" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">VIDEO</a> 
          <a href="assets/pdf/vslam.pdf" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">REPORT</a> 

          <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
        </div>
        </p>

        <p style="text-align:justify; padding-top:10px">
          A complete visual odometry (VO) pipeline. Local (sliding-window bundle adjustment) and global (loop detection & correction) optimization were also implemented, which alleviates the scale drift and transforms the pipeline into a VSLAM framework.
        </p>
                  
    </td>
    </tr>
    
    <!-- <br> -->

    <tr>
      <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
        <!-- if you want a box to contain the img -->
        <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

      <img style="vertical-align:middle;" src="assets/img/box_refine.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
      </td>

      <td width="60%" valign="top">
        <p>
          <a href="projects/3D_obj_det/" id="box_refine" style="color:#1794e7;"> 
          <papertitle><b>Enhanced Box Refinement for 3D Object Detection</b></papertitle></a><br>
          <b>Rong Zou</b>,
          Matthew Hanlon
          <!-- Supervised by <a href="https://zuriabauer.com/">Zuria Bauer</a> and <a href="https://people.inf.ethz.ch/moswald/">Martin R. Oswald</a> -->
        </p>

        <p>              
        <div class="project" id="box_refine">
          <!-- <a href="3dv.html">Webpage</a> | -->
          <!-- <a href="https://youtube.com/playlist?list=PL0_u6UI2Giaq8gtEdg6E5ObpMR-UAU-H5">Demos</a> | -->
          <a href="assets/pdf/box_refine.pdf" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">REPORT</a> 

          <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
        </div>
        </p>


        
        <p style="text-align:justify; padding-top:10px">
          A comprehensive study of the impact of canonical transformations and training data augmentation via geometric transformations on the box refinement stage of a two-stage 3D object detection method for detecting cars in LiDAR data.
        </p>
        
        
        
    </td>
    </tr>

    <!-- <br> -->

    <tr>
      <td width="40%" valign="middle" align="center" style="vertical-align:middle;">
        <!-- if you want a box to contain the img -->
        <!-- <img src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black"> -->

      <img style="vertical-align:middle;" src="assets/img/3dv.png" alt="sym" width="90%" style="margin-top:10px;padding-top:20px;padding-bottom:0px;border-radius:15px;border:1px solid black">
      </td>

      <td width="60%" valign="top">
        <p>
          <!-- <a href="3dv.html" id="3dv"> -->
          <a href="projects/mde_vvs/"  id="3dv" style="color:#1794e7;"> 
          <papertitle><b>Monocular Depth Estimation with Virtual View Supervision</b></papertitle></a><br>
          <b>Rong Zou</b>,
          Nikolas Hars,
          Casimir Feldmann,
          Kirat Virmani
          Supervised by <a href="https://zuriabauer.com/">Zuria Bauer</a> and <a href="https://people.inf.ethz.ch/moswald/">Martin R. Oswald</a>
        </p>

        <p>              
        <div class="project" id="3dv">
          <!-- <a href="3dv.html">Webpage</a> | -->
          <a href="assets/pdf/3dv_poster.pdf" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">POSTER</a> 
          <a href="assets/pdf/3dv_report.pdf" style="border-width:1px; border-style:solid; border-color:#1794e7; padding-top:5px;padding-bottom:5px;padding-left:23px;padding-right:23px;">REPORT</a> 

          <!-- <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
          <a href="assets/pdf/3dv_report.pdf">Report</a>  -->
          <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
        </div>
        </p>
        
        <p style="text-align:justify; padding-top:10px">
          An approach to enhance the performance of existing supervised MDE methods by generating virtual views using NeRF-based architectures as additional supervisory signals, circumventing the laborious and time-consuming process of collecting extra data.
        </p>
                  
    </td>
    </tr> 
    
  </tbody></table>

</div>

<br>
<br>